.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.modal-dialog {
    max-width: 650px;
}

.pt-5 {
    padding-top: 5px;
}

.error-sql-message {
    font-weight: bold;
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.info-box-icon {
    background-color: #2223;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black;
}

#builder.form-inline {
    display: inline;
}

.mt-10 {
    margin-top: 10px;
}

.rule-header {
    text-align: right !important;
    float: right;
}

.query-builder .rules-list .rule-container {
    background: rgba(249, 249, 249, 0.9) !important;
}

.query-builder .rules-group-container {
    background: none !important;
    border: 1px solid #ced4da !important;
}

.query-builder .rule-container .rule-filter-container,
.query-builder .rule-container .rule-operator-container,
.query-builder .rule-container .rule-value-container {
    width: 30% !important;
}

.query-builder .rule-container .rule-value-container input {
    height: calc(2.25rem + 2px);
}

.query-builder .rule-container .rule-filter-container select,
.query-builder .rule-container .rule-operator-container select,
.query-builder .rule-container .rule-value-container input {
    width: 100% !important;
}

#5e2aec1c6f294 {
    width: 200px !important;
}

#map {
    height: 800px;
}

.jntLoader {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(23, 22, 22, 0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
    from {transform:rotate(0deg);}


    to {transform:rotate(360deg);}
}

.query-builder .rule-container .rule-filter-container, .query-builder .rule-container .rule-operator-container, .query-builder .rule-container .rule-value-container, .query-builder .error-container, .query-builder .drag-handle {
    margin: 0 !important;
}

.jntLoader::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:40px;height:40px;
    border-style:solid;
    border-color:#10deff;
    border-top-color:transparent;
    border-width: 4px;
    border-radius:50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}

#map-data-form button{
    background: none !important;
    border: none !important;
    color:white !important;
}
